
.addTodo__container {

    display: flex;
    width: 100%;
    margin: 10px 0px;

}

.addTodo__inputs {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}

.addTodo__submit {

    display: flex;
    background-color: red;
    margin: 0px;
    padding: 0px;
    justify-content: center;

}

.addTodo__select {

    display: flex;
    flex-wrap: true;
    justify-content: flex-start;
    margin: 3px;

}

.addTodo__task {

    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 100%;

}

.addTodo__task > div {

    display: flex;
    flex-direction: row;

}

.addTodo__task > div >  label {

    flex: 0.1;

}

.addTodo__task > div > input {

    flex: 0.85;

}

.addTodo__task > span {

    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 2px;
    color: red;

}

/* .addTodo__emptyContainer {


} */

.addTodo__form {

    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: yellow;
    flex-wrap: wrap;
    /* margin: 0 10px; */

}

.addTodo__select > span {
    display: flex;
    flex-wrap: true;
    margin: 0px;
    padding: 0px;
    background-color: blue;

}
.addTodo__addBoxIcon {

    display: flex;
    width: 25px;
    margin-right: 10px;
    /* margin: 0;
    padding: 0; */
    justify-content:flex-start;
    
}

.addTodo__addBoxIcon:hover {

    cursor: pointer;
    background-color: red;

}

.addTodo__priority {

    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 50%;
    background-color: aqua;
    /* justify-content: space-evenly; */
    padding-left: 10px;

}

.addTodo__priority > select {

    /* display: ; */
    max-width: 50%;
    flex: 1;
    width: 100%;

}

.addTodo__active {

    display: flex;
    justify-content: space-between;
    max-width: 20%;
    width: 100%;
    background-color: brown;
    justify-content: space-evenly;
    margin-right: 5px;
    /* flex: 1; */

}

.addTodo__completed {

    display: flex;
    width: 100%;
    max-width: 30%;
    background-color: chartreuse;
    justify-content: space-evenly;
    margin-right: 5px;

}



@media only screen and (max-width: 500px) {

    .addTodo__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .addTodo__priority {
      
        flex-wrap: wrap;
    }
    
    .addTodo__active {
 
        flex-wrap: wrap;
    }
    
    .addTodo__completed {
     
        flex-wrap: wrap;
       
    }
}