
.header {

    display: flex;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
   
}

.header__img {

    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    /* margin: 20px 0px; */
}

/* .header__container img {

    height: auto;
    width: auto;
    object-fit: contain;

} */


.header__user__container {

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(168, 174, 174, 0.4);
    border-radius: 25px;
    margin-left: 5px;
    max-width: 130px;
    padding-top: 5px;
    height: auto;
}

.header__user__logout {

    cursor: pointer;
    font-weight: bolder;
    /* color: rgba(7, 40, 255, 0.7); */
    color: aliceblue;
    padding-right: 10px;

}

.header__user__logout:hover {

    /* background-color: rgba(163, 189, 208, 0.4); */
    /* color: aliceblue; */
    background-color: rgba(168, 174, 174, 0.67);
    margin-right: 10px;

}

.header__user__name {
    /* background-color: aqua; */
    /* font-size: 12px; */
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    /* color: rgba(7, 40, 255, 0.7); */
    color: aliceblue;
    padding-right: 10px;

}