.header {
    display: flex;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;  
}

.header__img {
    height: 100%;
    width: 100%;
}

.header__user__container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(168, 174, 174, 0.4);
    border-radius: 25px;
    margin-left: 5px;
    max-width: 130px;
    padding-top: 5px;
    height: auto;
}

.header__user__container span {
    padding-left: 5px;
}

.header__user__logout {
    cursor: pointer;
    font-weight: bolder;
    color: aliceblue;
    padding-right: 10px;
}

.header__user__logout:hover {
    background-color: rgba(168, 174, 174, 0.67);
    margin-right: 10px;
}

.header__user__name {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    color: aliceblue;
    padding-right: 10px;
}