
.home {

    display: flex;
    width: 100%;
    background-color: burlywood;
    justify-content: center;
    
}

.home__container {

    display: flex;
    /* width: 500px; */
    /* min-width: 280px; */
    max-width: 500px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 0;
    /* background-color: aqua; */
}

.home__components {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(36, 169, 56); */
    width: 100%;
    /* width: 500px; */
   
}
