

.todo__container {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    padding: 10px;
}

.todo__buttons {

    display: flex;
    /* flex: 1; */
    flex: 0.2;
    /* width: 100%; */

}

.todo__details {
    width: 100%;
    background-color: green;
    flex: 0.8;
}

.todo__edit {

    cursor: pointer;
    margin-left: 5px;
    /* min-height: 30px; */
    height: 25px;
    background-color: red;
}

.todo__delete {

    cursor: pointer;
    margin-left: 5px;
    height: 25px;
    background-color: red;
}


.todo__addBoxIcon {
    cursor: pointer;
}
.todos__selection__taskContainer {
    /* display: flex; */
    display: flex;
    width: 100%;
}
.todos__selection__taskLabel {
    /* width: 100%; */
    flex: 0.10;
}
.todos__selection__task {
    /* width: 100%; */
    flex: 0.90;
    margin-right: 10px;
}