
.todoList {

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; /* latest changes */
    /* overflow-y: scroll; */
    overflow: hidden;
    overflow-x: hidden;

}

.todoList__title {

    max-width: 120px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    padding-left: 10px;
    /* margin-bottom: -1px; */
    /* z-index: 20; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* z-index: 0; */
    margin-top: 10px; /* this one  */

}

.todoList__title:hover {

    box-shadow: 4px -2px 1px 2px gray;

}

.todoLists__content {

    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;

}