.todoList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; 
    overflow: hidden;
    /* overflow-x: hidden; */
}

.todoList__title {

    max-width: 120px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    padding-left: 10px;
    background-color: white;
    margin-top: 10px; 
}

.todoList__title:hover {
    box-shadow: 4px -2px 1px 2px gray;
}

.todoLists__content {
    /* overflow-x: hidden; */
    width: 100%;
}
